<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head> 
	
    <title>Messing around with Spring Boot</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{js/main.js}" />
    <script type="text/javascript" th:src="@{lib/jquery-3.1.1.min.js}" />
	<link th:href="@{lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>    
    
</head>
<body>
	<div class="jumbotron">
		<h1 class="center">School of hard knocks!</h1>
	</div>
	
	
	<div>
		<table class="table table-striped">
		<caption>Students</caption>
			<tr>
				<th>Name</th>
				<th>Subject</th>
			</tr>
			<tr th:each="student : ${students}">
				<td th:text="${student.value.name}"/>
				<td th:text="${student.value.subject}"/>				
			</tr>
		</table>
	</div>
	
	<div class="container outline">
		<input id="studentName" type="text" placeholder="Enter the Student's Name"/>
		<input id="studentSubject" type="text" placeholder="Enter the Student's Subject"/>
		<button onclick="addStudent()">Add Student</button>
	</div>
	
</body>
</html>